* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}


#img {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    height: 100vh;
    filter: blur(3px);
}

.mainbox {
    background-color: rgb(32, 31, 31);
    background-color: rgba(0, 0, 0, 0.790);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    height: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}

.searchdiv {
    display: flex;
    
}

#input1 {
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    border: 3px solid rgba(0, 0, 255, 0.579);
    background-color: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    margin-bottom: 1rem;

}

#btn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(0, 0, 255, 0.579);
    cursor: pointer;
    
}

#icon {
    padding: 1px;
   
    width: 20px;
}



.temp {
    color: gray;
    font-size: 3rem;
    margin-top: 1rem;
}

.other{
    color: gray;
    font-size: 1.5rem;
    margin-top: 0.2rem;
}

#weatherinfo {
    font-size: 2rem;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 1200px) {
    .mainbox {
        width: 90%;

    }

    .temp {
        color: gray;
        font-size: 2rem;
    }

    #weatherinfo {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 600px){
    
    .searchdiv{
        justify-content: center;
        
    }

    #input1{
        width: 70%;
    }
}