* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}


#img {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    height: 100vh;
    filter: blur(3px);
}

.mainbox {
    background-color: rgb(32, 31, 31);
    
    background-color: rgba(0, 0, 0, 0.719);
   
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    height: 70%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    margin-top: 0.5rem
}

#input1 {
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    border: 3px solid purple;
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
    margin-bottom: 1rem;

}

.searchdiv {
    display: flex;
}

#btn {
    width: 30px;
    height: 40px;
    margin-left: 10px;
    border-radius: 40px;
}

#icon {
    padding: 4px;
}

.temp {
    color: gray;
    font-size: 3rem;
    margin-top: 1rem;
}

#weatherinfo {
    font-size: 2rem;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 1200px) {
    .mainbox {
        width: 90%;

    }

    .temp {
        color: gray;
        font-size: 2rem;
    }

    #weatherinfo {
        font-size: 1.5rem;
    }
}